<h1>Editing Company &amp; Site Info</h1>

<%= form_for(@static_page, html: {multipart: true}) do |f| %>
  <% if @static_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@static_page.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @static_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p><%= f.label "Company Name" %>
<%= f.text_field :company_name, placeholder: "Company Name" %></p>

<p><%= f.label "Address Line 1" %>
<%= f.text_field :address_line_1, placeholder: "Building Street, Suite" %></p>

<p><%= f.label "Address Line 2" %>
<%= f.text_field :address_line_2, placeholder: "City, State Zip" %></p>

<p><%= f.label "Phone Number" %>
<%= f.text_field :phone_number, placeholder: "Phone" %></p>

<p><%= f.label "Fax Number" %>
<%= f.text_field :fax_number, placeholder: "Fax" %></p>

<p><%= f.label "Company Email" %>
<%= f.text_field :company_email, placeholder: "Company Email" %></p>

<p><%= f.label "Logo" %>
<%= image_tag(@static_page.logo) if @static_page.logo? %>
<% if @static_page.height? && @static_page.width? %>
  <p><%= @static_page.height %> x <%= @static_page.width %></p>
<% end %>
<p>Upload a logo file:
  <%= f.file_field :logo %>
</p>

    <p style="font-weight:bold;">Social Media URLs</p>
    <% social_media_options = [['Facebook', 'facebook'], ['Twitter', 'twitter'], ['Instagram', 'instagram'], ['LinkedIn', 'linkedin'], ['Tumblr', 'tumblr'], ['Flickr', 'flickr'], ['Google+', 'googleplus'], ['You Tube', 'youtube'], ['Vimeo', 'vimeo'], ['Vine', 'vine'], ['Email', 'email']] %>
    <div id="social_media_urls">
      <% if !@static_page.social_media.nil? %>
        <% @static_page.social_media.each_with_index do |(type, value), i| %>
          <%= select_tag "social_media[#{i+1}]", options_for_select(social_media_options, "#{type}"), class: 'input-medium' %>
          <%= text_field_tag "social_media_values[#{i+1}]", value, class: 'input-block-level' %>
        <% end %>
      <% else %>
        <%= select_tag 'social_media[1]', options_for_select(social_media_options, 'facebook'), class: 'input-medium' %>
        <%= text_field_tag 'social_media_values[1]', @static_page.facebook, class: 'input-block-level' %>
        <%= select_tag 'social_media[2]', options_for_select(social_media_options, 'twitter'), class: 'input-medium' %>
        <%= text_field_tag 'social_media_values[2]', @static_page.twitter, class: 'input-block-level' %>
      <% end %>
    </div>
    <button id="add_social_media" type="button" class="btn btn-info" style="margin-bottom:20px;">Add Social Media URL</button>

<%= f.label "Contact info text" %>
<%= f.text_area :contact_text, placeholder: "Text to be shown at top of contact page", :cols => "50", :rows => "5" %>

<%= f.label "About Us" %>
<%= f.text_area :about_us, placeholder: "Text to be shown on homepage under about us.", :cols => "50", :rows => "5" %>

<%= f.label "Meta Description" %>
<%= f.text_area :meta_description, placeholder: "Meta description for search engines.", :cols => "50", :rows => "5" %>

<%= f.label "Meta Keywords" %>
<%= f.text_area :meta_keywords, placeholder: "Meta keywords for search engines.", :cols => "50", :rows => "5" %>

<h4>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
</h4>