<div class="arrow-container">
  <i aria-hidden="true" class="fa fa-angle-left pp2"></i> <i aria-hidden="true" class="fa fa-angle-right nn2"></i>
</div>
<div class="dot-container"></div>
<header class="carousel slide headerInitial" id="myCarousel">
  <div class="cycle-slideshow" data-cycle-auto-height="false" data-cycle-fx="fade" data-cycle-manual-speed="2000" data-cycle-pager-template="&lt;strong&gt;&bull;&lt;/strong&gt;" data-cycle-slides="div.newSlide" data-cycle-timeout="5000" id="fade-slide-show" style="height:100%;">
    <% main_project.project_pictures.each do |pp| %>
      <div class="newSlide" style="background:url('<%= pp.picture.image %>') no-repeat center center / cover;"></div>
    <% end %>
  </div>
  <div id="dashboard"></div>
  <div class="slide"></div>
</header>
<div class="container-fluid" id="about_project_container">
  <div class="row" id="slidecontrol">
    <div id="slide-up-hover">
      <i aria-hidden="true" class="fa fa-angle-up" id="action" style="font-size:36px;line-height:60px"></i>
    </div>
  <div id="dot-holder"></div>
</div>
<div class="col-md-9 first col-sm-12 pull-right" id="<%= categories_for_header.first %>Scroll">
  <div class="section">
    <div class="panel-heading">
      <a id="selected_projects" name="selected_projects"></a>
      <h4><%= categories_for_header.first %></h4>
    </div>
    <div class="panel-body">
      <% projects_for_carousel.where(category: categories_for_header.first).each do |project| %>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="texthover">
          <%= image_tag get_thumbnail(project), class: "img-responsive img-portfolio img-hover" %>
          <div class="overlay <%= project.name.parameterize %>">
            <div class="overlay-container">
              <p class="project-name"><%= project.name %></p>
              <p class="location"><%= project.location %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="col-md-3 second col-sm-12 pull-left" id="aboutScroll">
  <div class="section">
    <div class="panel-heading">
      <a id="About" name="About"></a>
      <h4>About Us</h4>
    </div>
    <div class="panel panel-default" style="background-color: transparent;">
      <div class="panel-body about_us">
        <%= simple_format h(@static_page_info.about_us) %>
      </div>
    </div>
  </div>
</div>
<% if !categories_for_header.blank? %>
  <% categories_for_header[1..-1].each_with_index do |category, i| %>
    <div class="col-md-9 first col-sm-12 pull-right" id="<%= category %>Scroll">
      <div class="section">
        <div class="panel-heading">
          <a id="selected_projects" name="ecc_projects"></a>
          <h4><%= category %></h4>
        </div>
        <div class="panel-body">
          <% projects_for_carousel.where(category: category).each do |project| %>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="texthover">
              <%= image_tag get_thumbnail(project), class: "img-responsive img-portfolio img-hover" %>
              <div class="overlay <%= project.name.parameterize %>">
                <div class="overlay-container">
                  <p class="project-name"><%= project.name %></p>
                  <p class="location"><%= project.location %></p>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

</div><!-- /.row -->
<!-- /.container -->

<script>
var click = 1
$('.carousel').carousel({
  interval: 5000 //changes the speed
})
$('.next-button-slick').click(function() {
  $('.carousel').slickNext();
});
//SLIDE UP PROJECTS  
var slideUpProjects = function() {
  var $this = $('#myCarousel');
  if ($this.hasClass("headerInitial")) {
    $('#myCarousel').switchClass('headerInitial', 'headerSlideUp', 1000);
    $('.pp2').hide();
    $('.nn2').hide();
    $('.container-fluid').addClass('container-fluid-opaque', 1000);
    $('#arrow-toggle-container').animate({
      marginTop: '0'
    }, {
      duration: 1000,
      queue: false
    });
    setTimeout(function() {
      $('#action').removeClass('fa-angle-up');
      //hide dots new addition
      $('.slick-dots').remove();
    }, 700);
    setTimeout(function() {
      $('#dashboard').fadeOut(300);
    }, 300);
    click = 0;
  }
}
// reorder for about us
$(document).ready(function() {
  $(window).on('load resize', function() {
    reorder('#<%= categories_for_header.first %>Scroll', '#aboutScroll', '#<%= categories_for_header.second %>Scroll');
  });
});

function reorder(el1, el2, el3) {
  var $window = $(window);
  if ($window.width() <= 991) {
    $(el2).insertAfter(el3);
  } else {
    $(el2).insertAfter(el1);
  }
}
// keep about us fixed if no slide up
function sticky_relocate() {
  var window_top = $(window).scrollTop();
  var div_top = $('#about_project_container').offset().top;
  if ((window_top > div_top) && ($(window).width() > 991)) {
    $('#aboutScroll').addClass('sticky');
  } else {
    $('#aboutScroll').removeClass('sticky');
  }
}
$(function() {
  $(window).on("load scroll resize", function(e) {
    sticky_relocate();
  })
});
// slide up Ecc
var slideUpEcc = function() {
  slideUpProjects();
  $('html, body').animate({
    scrollTop: $("#<%= categories_for_header.second %>Scroll").offset().top - $("#<%= categories_for_header.second %>Scroll").height()
  }, 2000);
}
// slide up Res
var slideUpRes = function() {
  $('html, body').animate({
    scrollTop: $("#<%= categories_for_header.first %>Scroll").offset().top - $("#<%= categories_for_header.first %>Scroll").height()
  }, 2000);
  console.log('slide up res')
}
// $("#slidecontrol").click(slideUpProjects)
$("#slide-up-hover").mouseover(slideUpProjects);
if ($(window).height() >= 1451) {
  $(".slideup<%= categories_for_header.first %>").click(slideUpRes);
  $(".slideupAbout").click(slideUpRes);
  $(".slideup<%= categories_for_header.second %>").click(slideUpEcc);
} else if ($(window).width() >= 991) {
  $(".slideup<%= categories_for_header.first %>").click(slideUpProjects);
  $(".slideupAbout").click(slideUpProjects);
  $(".slideup<%= categories_for_header.second %>").click(slideUpEcc);
} else {
  $(".slideup<%= categories_for_header.first %>").click(slideUpProjects);
  $(".slideupAbout").click(function() {
    slideUpProjects()
    $('html, body').animate({
      scrollTop: $("#aboutScroll").offset().top - $("#aboutScroll").height()
    }, 2000);
    $('.pp2').hide();
    $('.nn2').hide();
  });
  $(".slideup<%= categories_for_header.second %>").click(slideUpEcc);
}
// slide up projects if hash from url
var h = location.hash.substr(1);
if (h == '<%= categories_for_header.first %>_scroll') {
  if ($(window).height() <= 1450) {
    slideUpProjects();
    $('.arrow-container').hide();
    console.log('less than 1451 scroll')
  } else {
    $('html, body').animate({
      scrollTop: $("#<%= categories_for_header.first %>Scroll").offset().top - $("#<%= categories_for_header.first %>Scroll").height()
    }, 2000);
    console.log('greater than 1451 scroll')
  }
};
if (h == '<%= categories_for_header.second %>_scroll') {
  slideUpProjects();
  $('html, body').animate({
    scrollTop: $("#<%= categories_for_header.second %>Scroll").offset().top - $("#<%= categories_for_header.second %>Scroll").height()
  }, 2000);
};
$(document).ready(function() {
  if (h == 'about_scroll') {
    $('#loadcover').hide();
    if (($(window).width() <= 991) || ($(window).height() >= 1451)) {
      slideUpProjects()
      $('html, body').animate({
        scrollTop: $("#aboutScroll").offset().top - $("#aboutScroll").height()
      }, 2000);
      $('.pp2').hide();
      $('.nn2').hide();
    } else {
      slideUpProjects();
      $('.arrow-container').hide();
    }
  }
});
// replace slick proj 1
$(function() {
  var slickOpts = {
    dots: true,
    appendDots: '#dot-holder',
    centerMode: true,
    accessibility: false,
    prevArrow: $(".pp2"),
    nextArrow: $(".nn2"),
    centerPadding: '60px',
    autoplay: false,
    autoplaySpeed: 3000,
    slidesToShow: 1,
    lazyLoad: 'ondemand',
    pauseOnHover: false,
    variableWidth: true,
    responsive: [{
      breakpoint: 768,
      settings: {
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    }, {
      breakpoint: 480,
      settings: {
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }]
  };
  
  // slick options for 1 slide image
  var slickOptsCSC = {
    dots: false,
    appendDots: '#dot-holder',
    centerMode: true,
    accessibility: false,
    prevArrow: $(""),
    nextArrow: $(""),
    centerPadding: '60px',
    autoplay: false,
    autoplaySpeed: 3000,
    slidesToShow: 1,
    lazyLoad: 'ondemand',
    pauseOnHover: false,
    variableWidth: true,
    responsive: [{
      breakpoint: 768,
      settings: {
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    }, {
      breakpoint: 480,
      settings: {
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }]
  };  
  
  // Pause slick on click
  $('#dashboard').on('click', function() {
    $('#new-car-1').slick('slickPause');
  });
  // Replace slick function
  function replacecarousel(car_html_file) {
    console.log('start replace')
    $('#fade-slide-show').fadeOut(300).delay(300);
    $('#dashboard').fadeOut(300).delay(300);
    $('.slick-dots').remove();
    $('#custom-pager').remove();
    $('#footerOverflowFix').show();
    console.log('1 delay')
    $('#dashboard').delay(1).queue(function(nxt) {
      // $(this).html(car_html_file + " #dashboard", function() {
      $(this).html(car_html_file, function() {
        console.log('another time out')
        // setTimeout(function() {
        //     // if one slide image
        //     if (car_html_file == 'car_csc.html') {
        //       console.log('slick options CSC')
        //       $('#new-car-1').slick(slickOptsCSC);
        //     } else {
        //         console.log('slick options')
        //       $('#new-car-1').slick(slickOpts);
        //     }
        //   console.log('set position 0')
        //   $('#new-car-1').slick("setPosition", 0);
        //   console.log('go to 0')
        //   $('#new-car-1').slick("slickGoTo", 0, true);
        // }, 1);
      });
      $('#new-car-1').slick(slickOpts);
      var varCounter = 0;
      var stopInterval = false;
      var interval = setInterval(function() {
        if ((varCounter <= 50) && (!stopInterval)) {
          $('.slick-arrow, .slick-dots').click(function() {
            stopInterval = true;
          });
          $('#new-car-1').slick("slickGoTo", 0, true);
          console.log('go to 0 interval')
          $('#new-car-1').slick('slickPause');
          varCounter++;
        } else if (car_html_file == 'car_csc.html') {
            // for slide with just 1 image
            clearInterval(interval);
              console.log('csc')
              $('#new-car-1').slick('slickPause');
          } else {
          clearInterval(interval);
          console.log('clear interval and stop 0 and play')
          $('#new-car-1').slick('slickPlay');
        }
      }, 100)
      nxt();
      
      var $this = $('#myCarousel');
      setTimeout(function() {
        $('#dashboard').css({
          marginTop: '0px'
        });
        $('#dashboard').fadeIn(400);
        $('#new-car-1').slick("slickGoTo", 0);
      }, 600);
      setTimeout(function() {
        $('#footerOverflowFix').hide();
      }, 1200);
      if ($this.hasClass("headerInitial")) {
        $("html, body").animate({
          scrollTop: 0
        }, "slow");
        $('.container-fluid').addClass('container-fluid-opaque');
        $('#arrow-toggle-container').animate({
          marginTop: '-28px'
        }, {
          duration: 1000,
          queue: false
        });
        setTimeout(function() {
          $('#action').addClass('fa-angle-up').removeClass('fa-chevron-circle-down');
          if (car_html_file == 'car_csc.html') {
              $('.arrow-container').hide();
              console.log('csc header open hide arrows')
          } else {
              $('.arrow-container').show();
          }
        }, 1000);
        click = 1;
      } else {
        setTimeout(function() {
          $('#myCarousel').switchClass('headerSlideUp', 'headerInitial', 1000);
        }, 700);
        //scroll up
        setTimeout(function() {
          $("html, body").animate({
            scrollTop: 0
          }, "slow");
        }, 700);
        //scroll up close
        $('.container-fluid').addClass('container-fluid-opaque');
        $('#arrow-toggle-container').animate({
          marginTop: '-28px'
        }, {
          duration: 1000,
          queue: false
        });
        setTimeout(function() {
          $('#action').addClass('fa-angle-up').removeClass('fa-chevron-circle-down');
          $('.arrow-container').show();
        }, 1000);
        click = 1;
      }
    });
  }
  //REPLACE INDIVIDUAL CAROUSELS
    <% projects_for_carousel.each do |project| %>
    $('.<%= project.name.parameterize %>').on('click', function() {
      replacecarousel('<div id="new-car-1"><% gallery_images(project).each do |pp|%><div><%= image_tag pp.picture.image, class:"slideImage", style:"margin-top:61px" %></div><% end %></div>');
    });
    <% end %>

  $(function() {
    $('.nav a').on('click', function() {
      if ($('.navbar-toggle').css('display') != 'none') {
        $(".navbar-toggle").trigger("click");
      }
    });
  });
});
</script>