<div class="arrow-container">
    <i aria-hidden="true" class="fa fa-angle-left pp2"></i> <i aria-hidden="true" class="fa fa-angle-right nn2"></i>
  </div>
  <div class="dot-container"></div>
  <header class="carousel slide headerInitial" id="myCarousel">
    <div class="cycle-slideshow" data-cycle-auto-height="false" data-cycle-fx="fade" data-cycle-manual-speed="2000" data-cycle-pager-template="&lt;strong&gt;&bull;&lt;/strong&gt;" data-cycle-slides="div.newSlide" data-cycle-timeout="5000" id="fade-slide-show" style="height:100%;">  
    <% main_project = @projects.find_by(main_project: true) %>
    <% main_project.pictures.each do |picture| %>
      <div class="newSlide" style="background:url('<%= picture.image %>') no-repeat center center / cover;"></div>
    <% end %>
    </div>
    <div id="dashboard"></div>
    <div class="slide"></div>
  </header>
  <div class="container-fluid" id="about_project_container">
    <div class="row" id="slidecontrol">
      <div id="slide-up-hover">
        <i aria-hidden="true" class="fa fa-angle-up" id="action" style="font-size:36px;line-height:60px"></i>
      </div>
<div id="dot-holder"></div>

    </div>
    <div class="col-md-9 first col-sm-12 pull-right">
      <div class="section">
        <div class="panel-heading">
          <a id="selected_projects" name="selected_projects"></a>
          <h4>Selected Work</h4>
        </div>
        <div class="panel-body">
          <% @projects.each do |project| %>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="texthover">
              <%= image_tag project.pictures.first.image, style:"height:100px;float:left;margin:5px", class: "img-responsive img-portfolio img-hover" %>
              <div class="overlay <%= project.name.parameterize %>">
                <div class="overlay-container">
                  <p class="project-name"><%= project.name %></p>
                  <p class="location"><%= project.location %></p>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div><!-- second -->
    <div class="col-md-3 second col-sm-12 pull-left" id="aboutScroll">
      <div class="section">
        <div class="panel-heading">
          <a id="About" name="About"></a>
          <h4>About Us</h4>
        </div>
        <div class="panel panel-default" style="background-color: transparent;">
          <div class="panel-body about_us">
            <p>Moran Hook Architecture is a practice of classically trained architects and designers based in New York. We were founded in 2005, by the husband and wife team of Erin & Tim Hook. Erin, from Louisville, Kentucky, and Tim, from a small town near London in the UK, met in Rome while they were both studying architecture at the University of Notre Dame. After working in London and Seattle they settled in New York in 2001.</p>
            <p>As architects, we find great pleasure in formulating intelligent, creative, and enduring design solutions that meet our clients’ individual needs. We feel that a project's utility, beauty, and integrity are realized through intimately understanding its site and landscape, discerning the project's appropriate character, and artfully integrating all of its details to bring a sense of ease and timelessness.</p>
            <p>We strive to continue the traditions of architecture in today's world by rooting our work in the knowledge of the past while designing places that speak to the tastes and lifestyles of modern living.</p>
          </div>
        </div>
      </div>
    </div><!-- first -->
  </div><!-- /.row -->
  <!-- /.container -->

<script>

$(function() {
  var slickOpts = {
    dots: true,
    appendDots: '#dot-holder',
    centerMode: true,
    accessibility: false,
    prevArrow: $(".pp2"),
    nextArrow: $(".nn2"),
    centerPadding: '60px',
    autoplay: false,
    autoplaySpeed: 3000,
    slidesToShow: 1,
    lazyLoad: 'ondemand',
    pauseOnHover: false,
    variableWidth: true,
    responsive: [{
      breakpoint: 768,
      settings: {
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    }, {
      breakpoint: 480,
      settings: {
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }]
  };
  $('#start_slick').click(function() {
    $('#new-car-1').slick(slickOpts);
  });
  // var click = 1
  // $('.carousel').carousel({
  //   interval: 5000 
  // })
  // $('.next-button-slick').click(function() {
  //   $('.carousel').slickNext();
  // });
  //SLIDE UP PROJECTS  
  var slideUpProjects = function() {
      var $this = $('#myCarousel');
      if ($this.hasClass("headerInitial")) {
        $('#myCarousel').switchClass('headerInitial', 'headerSlideUp', 1000);
        $('.pp2').hide();
        $('.nn2').hide();
        $('.container-fluid').addClass('container-fluid-opaque', 1000);
        $('#arrow-toggle-container').animate({
          marginTop: '0'
        }, {
          duration: 1000,
          queue: false
        });
        setTimeout(function() {
          $('#action').removeClass('fa-angle-up');
          //hide dots new addition
          $('.slick-dots').remove();
        }, 700);
        setTimeout(function() {
          $('#dashboard').fadeOut(300);
        }, 300);
        click = 0;
      }
    }
    // $("#slidecontrol").click(slideUpProjects)
  $("#slide-up-hover").mouseover(slideUpProjects);
  if ($(window).width() >= 991) {
    $(".slideup").click(slideUpProjects);
    $(".slideupAbout").click(slideUpProjects);
  } else {
    $(".slideup").click(slideUpProjects);
    $(".slideupAbout").click(function() {
      slideUpProjects()
      $('html, body').animate({
        scrollTop: $("#aboutScroll").offset().top - $("#aboutScroll").height()
      }, 2000);
      $('.pp2').hide();
      $('.nn2').hide();
    });
  }
  // slide up projects if hash from url
  var h = location.hash.substr(1);
  if (h == 'selected_projects_scroll') {
    slideUpProjects();
    $('.arrow-container').hide();
  };
  $(document).ready(function() {
    if (h == 'about_scroll') {
      $('#loadcover').hide();
      if ($(window).width() <= 991) {
        slideUpProjects()
        $('html, body').animate({
          scrollTop: $("#aboutScroll").offset().top - $("#aboutScroll").height()
        }, 2000);
        $('.pp2').hide();
        $('.nn2').hide();
      } else {
        slideUpProjects();
        $('.arrow-container').hide();
      }
    }
  });
  // replace slick proj 1
  $(function() {
    var slickOpts = {
      dots: true,
      appendDots: '#dot-holder',
      centerMode: true,
      accessibility: false,
      prevArrow: $(".pp2"),
      nextArrow: $(".nn2"),
      centerPadding: '60px',
      autoplay: false,
      autoplaySpeed: 3000,
      slidesToShow: 1,
      lazyLoad: 'ondemand',
      pauseOnHover: false,
      variableWidth: true,
      responsive: [{
        breakpoint: 768,
        settings: {
          centerMode: true,
          centerPadding: '40px',
          slidesToShow: 3
        }
      }, {
        breakpoint: 480,
        settings: {
          centerMode: true,
          centerPadding: '40px',
          slidesToShow: 1
        }
      }]
    };
    // Pause slick on click
    $('#dashboard').on('click', function() {
      $('#new-car-1').slick('slickPause');
    });
    // Replace slick function
    function replacecarousel(car_html_file) {
      $('#fade-slide-show').fadeOut(300).delay(300);
      $('#dashboard').fadeOut(300).delay(300);
      console.log('fade out dashboard')
      $('.slick-dots').remove();
      console.log('remove dots')
      $('#custom-pager').remove();
      console.log('remove pager')
      $('#footerOverflowFix').show();
      console.log('fix footer overflow')
      // $('#dashboard').delay(1).queue(function(nxt) {
        $('#dashboard').html(car_html_file)

            $('#new-car-1').slick(slickOpts);
            console.log('slick opts')

          setTimeout(function() {
            $('#new-car-1').slick('setPosition', 0);
            $('#new-car-1').slick('slickGoTo', 0, true);
            $('#new-car-1').slick('slickPause');
            console.log('goto 0')
          }, 1);
          setTimeout(function() {
            $('#new-car-1').slick('setPosition', 1);
            $('#new-car-1').slick('slickGoTo', 1, true);
            $('#new-car-1').slick('slickPause');
            console.log('goto 1')
          }, 200);
          setTimeout(function() {
            $('#new-car-1').slick('slickPlay');
            console.log('slick play')
          }, 3000);
          // var varCounter = 0;
          // var arrowClicked = false;
          // $('.slick-arrow').click(function() {
          //   arrowClicked = true;
          // });
          // var varName = function() {
          //   if ((varCounter <= 50) && (arrowClicked = false)) {
          //     varCounter++;
          //     $('#new-car-1').slick("slickGoTo", 0, true);
          //     $('#new-car-1').slick('slickPause');
          //   } else {
          //     clearInterval(varName);
          //   }
          // };
          // setInterval(varName, 100);
          // setTimeout(function() {
          //   $('#new-car-1').slick('slickPlay');
          // }, 5500);
          // nxt();
        // });
        var $this = $('#myCarousel');
        $('#dashboard').css({
          display: 'block'
        });
        // setTimeout(function() {
        //   $('#dashboard').css({
        //     marginTop: '0px'
        //   });
        //   $('#dashboard').fadeIn(400);
        //   $('#new-car-1').slick("slickGoTo", 0);
        // }, 600);
        setTimeout(function() {
          $('#footerOverflowFix').hide();
        }, 1200);
        if ($this.hasClass("headerInitial")) {
          $("html, body").animate({
            scrollTop: 0
          }, "slow");
          $('.container-fluid').addClass('container-fluid-opaque');
          $('#arrow-toggle-container').animate({
            marginTop: '-28px'
          }, {
            duration: 1000,
            queue: false
          });
          setTimeout(function() {
            $('#action').addClass('fa-angle-up').removeClass('fa-chevron-circle-down');
            $('.arrow-container').show();
          }, 1000);
          click = 1;
        } else {
          setTimeout(function() {
            $('#myCarousel').switchClass('headerSlideUp', 'headerInitial', 1000);
          }, 700);
          //scroll up
          setTimeout(function() {
            $("html, body").animate({
              scrollTop: 0
            }, "slow");
          }, 700);
          //scroll up close
          $('.container-fluid').addClass('container-fluid-opaque');
          $('#arrow-toggle-container').animate({
            marginTop: '-28px'
          }, {
            duration: 1000,
            queue: false
          });
          setTimeout(function() {
            $('#action').addClass('fa-angle-up').removeClass('fa-chevron-circle-down');
            $('.arrow-container').show();
          }, 1000);
          click = 1;
        }
      // });
    }
    //REPLACE INDIVIDUAL CAROUSELS
    <% @projects.each do |project| %>
    $('.<%= project.name.parameterize %>').on('click', function() {
      replacecarousel('<div id="new-car-1"> <% project.pictures.each do |picture|%><div><%= image_tag picture.image, class:"slideImage", style:"margin-top:61px" %></div><% end %></div>');
    });
    <% end %>

    $(function() {
      $('.nav a').on('click', function() {
        if ($('.navbar-toggle').css('display') != 'none') {
          $(".navbar-toggle").trigger("click");
        }
      });
    });
  });
});

</script>