<p id="notice"><%= notice %></p>

<h4>
  <%= @user.name %>
</h4>

<h4>
  <strong>Email:</strong>
  <%= @user.email %>
</h4>

<div class="actions">
  <%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-warning" %>
</div>

<div class="col-md-8">
  <h3>Projects (<%= @user.projects.count %>)</h3>
  <% if @user.projects.any? %>
    <ol class="projects">
      <%= render @projects %>
    </ol>
  <% end %>
</div>