<%= form_for(project, html: {multipart: true}) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p><%= f.label :name %>
    <%= f.text_field :name %></p>

    <p><%= f.label :location %>
    <%= f.text_field :location %></p>

    <p>Created by: <%= project.user.try(:name) %></p>

  <p>
    <%= f.label :category %>
    <%= f.select(:category, @project.project_category_list, {}, { id: 'category-select' } ) %>
  </p>

  <p>
    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
    <% end %>
  </p>