<h1>New Project</h1>

<%= form_for(@project, html: {multipart: true}) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p><%= f.label :name %>
<%= f.text_field :name %></p>

<p><%= f.label :location %>
<%= f.text_field :location %></p>

  <p>
    <%= f.label :category %>
    <%= f.select(:category, @project.project_category_list, {}, { id: 'category-select' } ) %>
  </p>

<%= file_field_tag "images[]", type: :file, multiple: true %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<%= link_to 'Back', projects_path %>