<h4>
  <%= @project.name %>
</h4>

<h4>
  <%= @project.location %>
</h4>

<h4>
  <%= @project.category %>
</h4>

<h4>
  Created by: <%= @project.user.name %>
</h4>

<table class="project_edit">
  <thead>
    <th>Order</th>
    <th>Image</th>
  </thead>
<% @project.project_pictures.each do |project_picture| %>
  <tr>
    <td>
      <% if project_picture.position == 0 %>
        THUMBNAIL
      <% else %>
        <%= project_picture.position %>
      <% end %>
    </td>
    <td>
      <%= link_to image_url(project_picture.picture.image), :target => "_blank" do %>
        <%= image_tag project_picture.picture.image, style:"height:200px" if @project.pictures %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_project_path(@project), :class => "btn btn-warning" %>