<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="nav-container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span>
      </button> 
      <a class="navbar-brand" href="<%= root_path %>" style="padding:0;">
        <img class="header-logo" src="<%= @static_page_info.logo %>">
      </a>
      <span style="color:#d9534f;font-weight:bold;line-height:60px;float:left">ADMIN</span>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Page Content", static_page_path(1) %></li>
          <li><%= link_to "Projects", projects_path %></li>
          <li><%= link_to "Pictures", pictures_path %></li>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "User Info", current_user %></li>
              <li><%= link_to "Edit Info", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>