<!DOCTYPE html>
<html>
  <head>
    <title>MHA Admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag @static_page_info.favicon, :rel => 'icon', :type => "image/x-icon" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-12">
          <% flash.each do |message_type, message| %>
            <div class="well well-<%= message_type%>">
              <%= message %>
            </div>
          <% end %>
          <%= yield %>
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
    </div>
  </body>
</html>