<!DOCTYPE html>
<html>
  <head>
    <title>Moran Hook Architecture, PLLC <%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'static_pages' %>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans:400,300', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="description" content="Moran Hook Architecture is a practice of classically trained architects and designers based in New York. As architects, we find great pleasure in formulating intelligent, creative, and enduring design solutions that meet our clients’ individual needs. We feel that a project's utility, beauty, and integrity are realized through intimately understanding its site and landscape, discerning the project's appropriate character, and artfully integrating all of its details to bring a sense of ease and timelessness.  We strive to continue the traditions of architecture in today's world by rooting our work in the knowledge of the past while designing places that speak to the tastes and lifestyles of modern living.">
    <meta name="author" content="MHA">
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta name="keywords" content="architect, architect new york, classical architecture new york, classical architect, architecture nyc, manhattan architect, long island architect">
  </head>

  <body>
    <%= render "layouts/publicheader" %>
    <!-- <div class="container"> -->
      <%# flash.each do |message_type, message| %>
        <!-- <div class="alert alert-<%#= message_type%>"><%#= message %></div> -->
      <%# end %>
      <%= yield %> 
      <%#= debug(params) if Rails.env.development? %>
    <!-- </div> -->
    <%= render "layouts/publicfooter" %>
  </body>
</html>