<!DOCTYPE html>
<html>
  <head>
    <title><%= @static_page_info.company_name %> <%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'static_pages' %>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans:400,300', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag @static_page_info.favicon, :rel => 'icon', :type => "image/x-icon" %>
    <meta name="description" content="<%= @static_page_info.meta_description %>">
    <meta name="author" content="MHA">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta name="keywords" content="<%= @static_page_info.meta_keywords %>">
  </head>

  <body>
    <%= render "layouts/publicheader" %>
      <%= yield %> 
    <%= render "layouts/publicfooter" %>
  </body>
</html>